{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {{Title}}
  </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
    <link rel="shortcut icon" href="{% static 'registrasi/images2/salt.png' %}" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'registrasi/fonts2/icomoon/style.css' %}" />
    <link rel="stylesheet" href="{% static 'registrasi/fonts2/flaticon/font/flaticon.css' %}" />

    <link rel="stylesheet" href="{% static 'registrasi/css2/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'registrasi/css2/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'registrasi/css2/style.css' %}" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">


  </head>
  <body>


    {% include "navbar2.html" %}
    {% block content %}

    {% endblock %}
    {% include "footer.html" %}
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script> 
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js   "></script>   
    <script src="{% static 'registrasi/js/table.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{% static 'registrasi/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'registrasi/js/tiny-slider.js' %}"></script>
    <script src="{% static 'registrasi/js/aos.js' %}"></script>
    <script src="{% static 'registrasi/js/navbar.js' %}"></script>
    <script src="{% static 'registrasi/js/counter.js' %}"></script>
    <script src="{% static 'registrasi/js/custom.js' %}"></script>
    
  </body>
</html>
