<!-- Footer -->
<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="#">Diya Putri 2104772</a>
    </div>
  </footer>
  <!-- End Footer -->
  
      <!-- Preloader -->
      <div id="overlayer"></div>
      <div class="loader">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>